 @import '../abstracts/variables.scss';
 @import '../abstracts/dinamic-variables.scss';
 @import '../abstracts/mixins/icon.scss';
 @import '../abstracts/mixins/focus.scss';

.list-section {
    margin-top: 3rem;
    
    ul {
        list-style: none;
        border-bottom: 0.2rem solid var(--main-color);
        padding: 2.5rem 1rem;
    }
}