@import '../abstracts/variables.scss';
@import '../abstracts/dinamic-variables.scss';
@import '../abstracts/mixins/icon.scss';
@import '../abstracts/mixins/focus.scss';

.modal {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);

	display: flex;
	justify-content: center;
	align-items: center;

	.modal-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	
		width: 100%;
	
		background-color: var(--secondary-color);
		border: 0.2rem solid white;
		border-radius: $br;
		font-family: $main-font;
		padding: 2rem;
	
		button {
			font-family: $main-font;
			@include focus(0.2rem);
		}
	
		&__close-btn {
			align-self: flex-end;
			background-color: transparent;
			border: none;
			display: flex;
			padding: 0.5rem;
			margin: -0.5rem;
		}
	
		h2 {
			font-size: map-get($fs, 'md');
			font-weight: map-get($fw, 'medium');
		}
	
		&__bottom-btns {
			display: flex;
			flex-direction: column;
			
			button {
				background-color: var(--secondary-color);
				border: 0.2rem solid var(--main-color);
				border-radius: $br;
				color: var(--main-color);
				font-size: map-get($fs, 'md');
				font-weight: map-get($fw, 'bold');
				padding: 0.5rem 1rem;
				margin-bottom: 1rem;
			}
	
			.fill-btn {
				background-color: var(--main-color);
				color: var(--secondary-color);
			}
		}
	}
}