@import '../abstracts/variables.scss';
@import '../abstracts/dinamic-variables.scss';
@import '../abstracts/mixins/focus.scss';
@import '../abstracts/mixins/icon.scss';

.new-todo-btn {
    width: 13rem;
    height: 13rem;
    background-color: var(--main-color);
    border: none;
    border-radius: 50%;
    color: var(--secondary-color);
    font-family: $main-font;
    font-size: map-get($fs, 'sm');
    font-weight: map-get($fw, 'bold');
    padding: 1rem 2rem;
    margin-bottom: 2rem;

    transition: all var(--focus-duration) ease-in-out;

    &:hover,
    &:focus {
    outline: 0.3rem solid var(--focus-color-brighter);
    transform: scale(1.05);
    color: var(--focus-color-brighter);
}
}

