.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;

    background-color: $white;
    border-radius: $br;
    font-family: $main-font;
    padding: 2rem;

    button {
        font-family: $main-font;
        @include focus(0.2rem);
    }

    &__close-btn {
        align-self: flex-end;
        background-color: transparent;
        border: none;
        display: flex;
        padding: 0.5rem;
        margin: -0.5rem;
    }

    h2 {
        font-size: map-get($fs, 'md');
        font-weight: map-get($fw, 'medium');
    }

    &__bottom-btns {
        display: flex;
        flex-direction: column;
        
        button {
            background-color: $white;
            border: 0.2rem solid $main-color;
            border-radius: $br;
            color: $main-color;
            font-size: map-get($fs, 'md');
            font-weight: map-get($fw, 'bold');
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
        }

        .fill-btn {
            background-color: $main-color;
            color: $white;
        }
    }
}