@mixin focus ($outline-width: 0.1rem, $color: var(--focus-color), $border-radius: $br){
	transition: border var(--focus-duration);

	&:focus {
		border-radius: $border-radius;
		border-color: $color;

		outline: $outline-width solid $color;
	}
}