/* Border-radius */
$br: 0.5rem;

/* Colours */
$black:                #000000;
$focus-color:          #d97d07;
$focus-color-brighter: #ffbe00;
$main-color:           #288000;
$white:                #ffffff;

/* Font families */
$main-font: 'Be Vietnam Pro', sans-serif;

/* Font sizes */
$fs: (
    'xs': 1.4rem,
    'sm': 1.8rem,
    'md': 2.2rem,
    'lg': 2.6rem,
    'xl': 3rem,
);

/* Font weights */
$fw: (
    'normal':  400,
    'medium':  500,
    's-bold:': 600,
    'bold':    700,
    'x-bold':  800,
    'black':   900,
);

/* Transition duration */
$focus-duration: 75ms;