:root {
    /* Colors */
    --black:                #000000;
    --focus-color:          #d97d07;
    --focus-color-brighter: #ffbe00;
    --main-color:           #288000;
    --secondary-color:      #ffffff;
    --footer-color:         #ffffff;

    /* Transitions / Animations */
    --focus-duration: 75ms;
    --theme-duration: 400ms;
    --banner-duration: 1000ms;
}
