/* Border-radius */
$br: 0.5rem;

/* Font families */
$main-font: 'Be Vietnam Pro', sans-serif;

/* Font sizes */
$fs: (
    'xs': 1.4rem,
    'sm': 1.8rem,
    'md': 2.2rem,
    'lg': 2.6rem,
    'xl': 3rem,
);

/* Font weights */
$fw: (
    'normal':  400,
    'medium':  500,
    's-bold:': 600,
    'bold':    700,
    'x-bold':  800,
    'black':   900,
);

/* Transitions / Animations */
$new-todo-animation: 2250ms;
