@import '../abstracts/variables.scss';
@import '../abstracts/dinamic-variables.scss';
@import '../abstracts/mixins/focus.scss';
@import '../abstracts/mixins/icon.scss';
@import '../abstracts/mixins/breakpoint.scss';

.header {
    display: flex;
    align-items: center;
    justify-items: center;

    background-color: var(--secondary-color);
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    transition: background-color var(--theme-duration) ease-in-out;

    &__grid {
        display: grid;
        grid-template-columns: 3fr 10fr 1fr 2fr;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    &__wrapper {
        grid-column: 2;

        display: flex;
        align-items: center;
        justify-content: center;

        user-select: none;
        width: fit-content;
    }

    &__heading {
        color: var(--main-color);
        font-family: $main-font;
        font-weight: map-get($fw, 'black');
        transition: color var(--theme-duration) ease-in-out;
    }

    &__logo {
        width: 4rem;
        margin-right: 1rem;
    }

    &__setting-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        border-radius: 0.5rem;
        transition: outline var(--focus-duration) ease-in-out;
    
        label {
            cursor: pointer;
            font-size: map-get($fs, 'xs');
            padding: 0.5rem;
            padding-top: 0;
            text-align: center;
            transition: color var(--theme-duration) ease-in-out;
            
            @include breakpoint(450px) {
                display: none;
            }
        }

        &:focus-within {
            outline: 0.3rem solid var(--focus-color);
        }
    }

    &__settings-button {
        grid-column: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}
