.main {
    flex-grow: 1;
    background-color: var(--secondary-color);
    font-family: $main-font;
    font-size: map-get($fs, 'sm');
    text-align: center;


    &__heading {
        margin-bottom: 1.5rem;
    }
    
    &__paragraph {
        font-size: map-get($fs, 'sm');
        margin-bottom: 3rem;
    }
}

